# El archivo ".env" no se debe subir nunca a GitHub.

DECOLECTA_API_TOKEN=pega_aqui_tu_token_de_decolecta
APPS_SCRIPT_URL=genera_un_nuevo_proyecto_en_google_Apps_scripts_como_app_web_esa_url_la_pegas_aquí
FLASK_SECRET_KEY=cambia-esta-clave-por-una-propia
